*{
    cursor: pointer;
}
.Header-container{
    display:flex;
}
.header-name{
    display:flex;
 
}
.header-img{
    width: 90px;
    height:90px;
    margin-left: 20px;
}
.header-name > h3{
    margin-left: 40px;

}
.header-input{
    width: 500px;
    height:40px;
    margin-left: 80px;
    margin-top:12px ;
    border-radius: 4px;
    background-color: rgb(243, 243, 243);
    border:none;
}
.Slider-image{
    text-align: center;
}
.Product-container-1{
    display:flex;
}
.product-img-1{
    height:350px;
    margin-left: 9px;
}
.product-deal-heading{
    color:gray;
    font-size: 40px;
    margin-left: 10px;
    
}
.Product-container-2{
    display:flex;
}
.product-img-2{
    height:275px;
    margin-left: 15px;
}
.product-deal-heading-2{
    color:gray;
    font-size: 30px;
    margin:60px 20px;
    
}
.Product-container-3{
    display :grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    

}
.product-img-3{
    height:250px;
   width:212px;
    
}
.footer-container{
    display:flex;
    justify-content:center;
    gap:70px;
    margin-top: 60px;
}
.footer-list-1{
    list-style-type:none;
    line-height: 27PX;
    margin-left: -35PX;
}
.footer-icon-playstore{
    width:300px;
}
.footer-icon-1{
    width:70px;
    margin-right: 10px;
}
.footer-last-list{
    margin-top: 50px;
    display: flex;
    
}
.footer-span{
    font-weight: bold;
  
}
.product-image{
    width:300px;
    height:300px;
  
}
.main-container-1-1{
    display: grid;
   grid-template-columns: auto auto auto;
}
.cont{
    display:grid;
    grid-template-columns: 30% 30% 30%;
}
img{
    width:240px;
    height:340px
}