*{
    cursor: pointer;
}
.Header-container{
    display:flex;
}
.header-name{
    display:flex;
 
}
.header-img{
    width: 90px;
    height:90px;
    margin-left: 20px;
}
.header-name > h3{
    margin-left: 40px;

}
.header-input{
    width: 500px;
    height:40px;
    margin-left: 80px;
    margin-top:12px ;
    border-radius: 4px;
    background-color: rgb(243, 243, 243);
    border:none;
}
.Slider-image{
    text-align: center;
}
.Product-container-1{
    display:flex;
}
.product-img-1{
    height:350px;
    margin-left: 9px;
}
.product-deal-heading{
    color:gray;
    font-size: 40px;
    
}
.Product-container-2{
    display:flex;
}
.product-img-2{
    height:275px;
    margin-left: 15px;
}
.product-deal-heading-2{
    color:gray;
    font-size: 30px;
    margin: 60px;
    
}